<h1>Add new reference</h3>

<div id="article" class="row">
    <%= form_tag create_reference_path, method: 'POST' do |f| %>
        <% @article_columns.each do |column_name| %>
        <div class='form-group'>
            <%= label_tag column_name, column_name %><br>
            <%= text_field_tag column_name %>
        </div>
        <% end %>
        <%= button_tag 'submit' %>
    <% end %>
</div>
